@import "_partials/_common.sass"
@import "_partials/_grid.sass"
@import "_partials/_wordpress.sass"

header
  text-align: center
  margin-top: 3.15rem
  margin-bottom: 9.375rem

  .title
    font-size: 3rem
    margin-bottom: 0.20em

  .sub-title
    font-size: 1.5rem
    color: $text-secondary

section.article
  margin-bottom: 3.125rem
  overflow: hidden

  .article-title
    font-size: 1.25rem
    font-weight: 700
    margin-bottom: 1em

  .article-content
    font-size: 1.125rem
    // margin added to the top of the button instead because of wordpress
    // rendering the button inside the article content
    //margin-bottom: 1.11em

  .article-date
    font-size: 1.125rem
    margin-bottom: 1.11em

    span.revision
      font-size: 0.875em
      color: rgba($text-primary, 0.4)

  button.btn-read-more
    width: 9.375rem
    font-size: 1.125rem
    // added this because of wordpress rendering the Read More button inside the
    // article content instead of outside it
    margin-top: 1.11em

button.btn-pagination,
button.btn-backToList
  font-size: 1.25rem

  span.stretch
    display: inline-block
    transform: scaleY(1.5)

button.btn-backToList
  width: 12.22em
  text-align: center
  margin-bottom: 5em

footer
  margin-bottom: 5.55em
  .footer-text
    text-align: center
    font-size: 1.125rem

.pagination
  margin-bottom: 3.125em

.funnybunny
  text-align: center
  margin-bottom: 9.375em

  img
    width: 6.25rem
    height: 7.5rem

  .img-text
    color: white
    position: absolute
    margin-top: 3.3rem
    font-size: 1.625rem
    margin-left: -4.375rem
