@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700)

:root
  font-size: 16px

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: 'Open Sans', sans-serif
  font-weight: 400

.title
  font-size: 3rem
  font-weight: 400
  text-align: center
  padding-top: 1.04em
