@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700)
@import "_partials/_common.sass"
@import "_partials/_grid.sass"

header
  text-align: center
  margin-top: 3.15rem
  margin-bottom: 9.375rem

  .title
    font-size: 3rem
    margin-bottom: 0.20em

  .sub-title
    font-size: 1.5rem
    color: $text-secondary

section.article
  margin-bottom: 3.125rem
  overflow: hidden

  .article-title
    font-size: 1.25rem
    font-weight: 700
    margin-bottom: 1em

  .article-content
    font-size: 1.125rem
    // margin added to the top of the button instead because of wordpress
    // rendering the button inside the article content
    //margin-bottom: 1.11em

  .article-date
    font-size: 1.125rem
    margin-bottom: 1.11em

  button.btn-read-more
    width: 9.375rem
    font-size: 1.125rem
    // added this because of wordpress rendering the Read More button inside the
    // article content instead of outside it
    margin-top: 1.11em

button.btn-pagination,
button.btn-backToList
  font-size: 1.25rem

  span.stretch
    display: inline-block
    transform: scaleY(1.5)

button.btn-backToList
  width: 12.22em
  text-align: center

footer
  margin-bottom: 5.55em
  .footer-text
    text-align: center
    font-size: 1.125rem

.pagination
  margin-bottom: 3.125em
