extends assets/layout.jade

block content
  section.article
    .article-title.
      Oops. Something went weird.
    .article-content.
      The page you were looking for could not be found, but if you need it that 
      bad just send me a mail and I’ll be back to you asap.
  .funnybunny 404
  button(type='button').btn-backToList 
  span.stretch < &nbsp;
  | Back to articles
