extends assets/layout.jade
  
block content
  script.
    function goBack() {
    window.history.back()
    };
  script.
    function goBackOrRoot(url)
    {
      var currentUrl = window.location.href;
      window.history.back();
      setTimeout(function(){
        // if location was not changed in 100 ms, then there is no history back
        if(currentUrl === window.location.href){
          // redirect to site root
          window.location.href = url;
        }
      }, 500);
    };
  section.article
    .article-date 16/04/2016
      span.revision.pull-right Rev. 4 | 18/04/2016
    .article-title.
      Grumpy wizards make toxic brew for the evil Queen and Jack.
    .article-content
      img(src="http://lorempixel.com/g/150/180")
      blockquote This is a blockquote
        cite Cite
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean 
      | commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus 
      | et magnis dis parturient montes, nascetur ridiculus mus.
      br
      br
      | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla 
      | consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, 
      | vulputate eget, arcu.
      | In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam 
      | dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. 
      | Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
      br
      br
      | Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam 
      | lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra 
      | nulla ut metus varius laoreet. Quisque rutrum.
      br
      br
      | Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper 
      | ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget 
      | condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem 
      | neque sed ipsum.
      br
      br
      | Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. 
      | Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero 
      | venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros 
      | faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec 
      | sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue 
      | velit cursus nunc.
  button(type='button', onclick="goBackOrRoot('index.html')").btn-backToList 
    span.stretch < &nbsp;
    | Back to articles
