extends assets/layout.jade
include assets/single-article.jade

block content
  +article
  +article
  +article
  +article
  +article
  
  
  .pagination
    button(type='button').btn-pagination 
      span.stretch <
    button(type='button').btn-pagination 
      span.stretch >
    
