doctype html
html

  include head.jade

  body
    .container
      header
        .title Alexander
        .sub-title Unluckly, my career is online.
      block content
      
      footer
        .footer-text © 2016 alexander-d.com
