@import "_variables"

:root
  font-size: 16px

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  color: $text-primary

.pull-right
  float: right

.clearfix
  content: " "
  clear: both
